<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.CawCawStudio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Monopoly"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        tools:targetApi="31">

        <activity
            android:name=".Menu.MenuActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".GameMode.GameModeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".GameMode.RoomSettingsBotActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".GameMode.RoomSettingsPlayerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".Menu.SettingsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity
            android:name=".Game.GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            >
        </activity>

        <activity
            android:name=".AuthChoice.AuthChoiceActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>